chatGPTAccountPool:
  - email: pyy19860210@gmail.com 
    password: Pyy8899123
    isGoogleLogin: false
chatPrivateTiggerKeyword: "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"
openAIProxy: ""
